includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: 3
    paths:
        - src
        - tests
    bootstrapFiles:
        - %currentWorkingDirectory%/vendor/autoload.php
    excludePaths:
        analyse:
            - %currentWorkingDirectory%/vendor
